body {
  background-color: darkslateblue;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
h1 {
  color: darkblue;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
p {
  color: crimson;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  font-size: 18px;
}
